In [20]:
import numpy as np
import pandas as pd
import souper_v2
from tqdm import tqdm_notebook
from torrequest import TorRequest
from bs4 import BeautifulSoup
from retrying import retry
import re

In [2]:
sampled_players = pd.read_csv('/Users/gonzaloferreiro/Documents/GA_Materials/DS_Inmersive/DSI8-lessons/projects/project-capstone/Moving_forward/Final_datasets/final_list_of_sampled_players.csv')

In [3]:
sp = souper_v2.souper()

In [4]:
@retry(wait_fixed=3000)
def get_soup(URL):
    with TorRequest() as tr:
        tr.reset_identity()
        headers = {"User-Agent":'Mozilla/5.0 (X11; Linux x86_64; rv:7.0.1) Gecko/20100101 Firefox/7.7'}
        r = tr.get(URL, headers=headers)
        soup = BeautifulSoup(r.text, 'html.parser')
        return soup

In [69]:
def obtain_age_from_profile(players_df):
     
    links = players_df.link_tm
    nationality = ""
    
    returner = {'age': [], 'link': []}
    
    for each_link in tqdm_notebook(links):
        
        # Obtaining final link
        new_link = 'https://www.transfermarkt.co.uk' + each_link
        print(new_link)
        soup = get_soup(new_link)
        
        
        # Obtaining highest and current value
        try:
            age_first = soup.find('span', attrs={'itemprop':'birthDate'}).text.strip()
            age = re.findall(r'\((\d+)', age_first)[0]
        except:
            age = np.nan
                    
        returner['age'].append(age)
        returner['link'].append(each_link)
                    
    return returner

## Obtaining data by parts

In [94]:
sample_1 = sampled_players.iloc[0:179]
sample_2 = sampled_players.iloc[179:359]
sample_3 = sampled_players.iloc[359:539]
sample_4 = sampled_players.iloc[539:719]
sample_5 = sampled_players.iloc[719:899]
sample_6 = sampled_players.iloc[899:1079]
sample_7 = sampled_players.iloc[1080:]
sample_8 = sampled_players.iloc[1079:1080]

In [ ]:
age_1 = obtain_age_from_profile(sample_1)

In [ ]:
age_2 = obtain_age_from_profile(sample_2)

In [ ]:
age_3 = obtain_age_from_profile(sample_3)

In [ ]:
age_4 = obtain_age_from_profile(sample_4)

In [ ]:
age_5 = obtain_age_from_profile(sample_5)

In [ ]:
age_6 = obtain_age_from_profile(sample_6)

In [ ]:
age_7 = obtain_age_from_profile(sample_7)

In [ ]:
age_8 = obtain_age_from_profile(sample_8)

In [100]:
df_1 = pd.DataFrame(age_1)
df_2 = pd.DataFrame(age_2)
df_3 = pd.DataFrame(age_3)
df_4 = pd.DataFrame(age_4)
df_5 = pd.DataFrame(age_5)
df_6 = pd.DataFrame(age_6)
df_7 = pd.DataFrame(age_7)
df_8 = pd.DataFrame(age_8)

## Concatenating and first cleaning

In [101]:
final_dataset = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7, df_8],axis=0)

In [102]:
final_dataset.head()

  age                                         link
0  23             /max-clark/profil/spieler/183291
1  30        /sergio-postigo/profil/spieler/158791
2  28  /stanislav-iljutcenko/profil/spieler/191292
3  28           /ivan-marcone/profil/spieler/90451
4  27        /florent-mollet/profil/spieler/222859

In [103]:
final_dataset.shape

(1200, 2)

#### Saving final dataset

In [104]:
final_dataset.to_csv(r'/Users/gonzaloferreiro/Documents/GA_Materials/DS_Inmersive/DSI8-lessons/projects/project-capstone/Moving_forward/Final_datasets/final_ages.csv',index=False)

In [105]:
test_loading = pd.read_csv('/Users/gonzaloferreiro/Documents/GA_Materials/DS_Inmersive/DSI8-lessons/projects/project-capstone/Moving_forward/Final_datasets/final_ages.csv')

In [106]:
final_dataset.head()

  age                                         link
0  23             /max-clark/profil/spieler/183291
1  30        /sergio-postigo/profil/spieler/158791
2  28  /stanislav-iljutcenko/profil/spieler/191292
3  28           /ivan-marcone/profil/spieler/90451
4  27        /florent-mollet/profil/spieler/222859

In [107]:
test_loading.head()

   age                                         link
0   23             /max-clark/profil/spieler/183291
1   30        /sergio-postigo/profil/spieler/158791
2   28  /stanislav-iljutcenko/profil/spieler/191292
3   28           /ivan-marcone/profil/spieler/90451
4   27        /florent-mollet/profil/spieler/222859